{% extends 'index.html' %}

{% block head %}
<link rel="stylesheet" href= "/static/css/about.css">
<title>Контакты</title>
{% endblock %}

{% block content %}

<div class="about-section">
    <h1>Уотерсоны</h1>
    <p>Небольшой рассказ о семье</p>
  </div>
  
  <h2 style="text-align:center">Члены семьи</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/static/images/Gambol.jpg" style="width:100%">
        <div class="container">
          <h2>Гамбол</h2>
          <p class="title">старши брат кот</p>
          <p>Гамбол — это двенадцатилетний котёнок со светло-голубой шерстью, учащийся в средней школе Элмора вместе со своим сводным десятилетним братом Дарвином и младшей четырёхлетней сестрой Анаис в классе Мисс Симиан. Встречается с Пенни.</p>
          <p>Gambol@gmail.com</p>
          <p><button class="button">Связаться</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/static/images/Darvin.jpg" style="width:100%">
        <div class="container">
          <h2>Дарвин</h2>
          <p class="title">Домашни питомец</p>
          <p> Когда-то он был обычной домашней рыбкой Гамбола, но вскоре у него выросли ноги, и он сумел жить вне воды.</p>
          <p>Darvin@gmail.com</p>
          <p><button class="button">Связаться</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/static/images/Anais.jpg" style="width:100%">
        <div class="container">
          <h2>Анаис</h2>
          <p class="title">самая Младшая</p>
          <p>Она самый молодой и умнейший член семьи Уоттерсон, несмотря на то, что ей всего четыре года. Она посещает Элморскую среднюю школу со своими старшими братьями, Гамболом и Дарвином и находится в более старшем классе, чем они</p>
          <p>Anais@example.com</p>
          <p><button class="button">Связаться</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/static/images/momy.jpg" style="width:100%">
        <div class="container">
          <h2>Николь</h2>
          <p class="title">Мать семьи</p>
          <p>Она очень предана семье и делает всё, что в её силах, для удобства и безопасности родных. Николь очень похожа на своего старшего сына, Гамболаа, который, как и она, является котом. </p>
          <p>Nicol@gmail.com</p>
          <p><button class="button">Связаться</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/static/images/fath.jpg" style="width:100%">
        <div class="container">
          <h2>Ричард</h2>
          <p class="title">Отец семьи</p>
          <p>Ричард не мудр и не является хорошим примером для подражания для своих детей. Несмотря на его грубые манеры, Ричард имеет хорошие намерения и всё равно любит свою семью. </p>
          <p>Richard@gmail.com</p>
          <p><button class="button">Связаться</button></p>
        </div>
      </div>
    </div>
    
  </div>
{% endblock %}