{% extends 'index.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/home.css">
<title>Главная страница</title>
{% endblock %}
{% block content %}
<div class = "about">
  <img class='bg-img' src="/static/images/femely.jpg" height = "300px">
    <div class = 'text'>
          <h1>Уотерсоны</h1>
          <p>Уоттерсоны — семья антропоморфных существ, состоящая из двух кроликов, двух кошек и одной домашней рыбки. Гамбол. Дарвин. Анаис. Николь. Ричард. Бабушка Джоджо. Фрэнки. Луи. Злая черепаха. Дарвин (Как приёмная рыбка). Николь и Ричард боятся бабушку Джо-джо. Директор Браун в серии The Genius сообщил, что Дарвин — всего лишь домашний питомец. Дарвин не имеет шеи и жабр, а значит все внутренности внутри головы.</p>
    </div>
</div>
{% endblock %}