{% extends 'index.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/posts.css">
<title>Посты</title>
{% endblock %}
{% block content %}

<div class="header">
    <h2>Семья Уоттерсонов</h2>
</div>

<div class="row">
    <div class="card">
        <h2>семья</h2>
        <img src="static/images/devil.jpg" width="250" height="250">
        <p>Семья Уоттерсонов - это антропоморфные животные, и они довольно необычны; они состоят из двух кроликов, двух кошек и золотой рыбки.
            Гамболл и Николь - голубые кошки, а Анаис и Ричард - розовые кролики. Дарвин - золотая рыбка, и изначально был домашним любимцем семьи, пока у него не выросли ноги, он обрел способность говорить и стал есть пищу, отличную от рыбных хлопьев.
        </p>
    </div>
    <div class="card right">
        <h2>соседи</h2>
        <img src="static/images/robins.jpg" width="250" height="250">
        <p>У Уоттерсонов есть соседи которые жудко ненавидят их (Ричардсоны), но не смотря на это они любят и уважают соседей </p>
    </div>
</div>
<div class="row">
    <div class="card">
        <h2>Злая Николь!</h2>
        <img src="static/images/angry.png" width="250" height="250">
        <p>Это очень опасно если вы все-же подверглись этому просто обнимите ее это ей поможет она очень добрая в душе,но всему свой пределы она обладает кунг-фу так что победить ее наврятли возможно</p>
    </div>
    <div class="card right">
        <h2>Милые глаза</h2>
        <img src="static/images/smart.jpg" width="250" height="250" />
        <p>Какими бы ни были эти глаза не верьте им она слишком умная и часто обманывает других глазами, но не на всех это работает.Интересно что она прячет в себе(она много чего скрывает)!.Она очень ценит свою куклу Дейзи(эта кукла живая) играя с ее куклай вы рискуете жизнью </p>
    </div>
</div>

{% endblock %}